DATABASE_URL="postgresql://neurogate:neurogate@localhost:5432/neurogate?schema=public&sslmode=disable"

API_LISTEN_HOST=127.0.0.1
API_LISTEN_PORT=8000

OPENAI_API_KEY=sk-proj-qwertyuiopasdfghjk-T3BlbkFJ-lZXCVBNM1234567890
OPENAI_BASE_URL=https://api.openai.com/v1

MOZHI_GOOGLE_INSTANCES=https://mozhi.aryak.me
OPENAI_MODELS=gpt-4o

LOG_LEVEL=debug
NODE_ENV=development